foo

00-Miscellaneous/!*.*

04-BMP-encrypt/cipher.txt
04-BMP-encrypt/decoded-cipher.txt
04-BMP-encrypt/decrypted.txt
04-BMP-encrypt/encoded.bmp
04-BMP-encrypt/key.txt
04-BMP-encrypt/lab4
04-BMP-encrypt/submodules/bits-Chars
04-BMP-encrypt/submodules/bits-UInts
04-BMP-encrypt/submodules/bmps
04-BMP-encrypt/submodules/leastBit
04-BMP-encrypt/submodules/stringSegfaults

05-convertCalc/convertProb
05-convertCalc/safeCalcProb

05-convertCalc/test-modules/*
05-convertCalc/test-modules/!*/
05-convertCalc/test-modules/!*.*
05-convertCalc/test-modules/!sanitycheck.c

06-floats/floatsStuff
06-floats/sandbox

07-asm/1-prob/main

07-asm/4-prob/ArrayLib
07-asm/4-prob/check
