foo

00-Miscellaneous/!*.*

lab4-bmp-encrypt/cipher.txt
lab4-bmp-encrypt/decoded-cipher.txt
lab4-bmp-encrypt/decrypted.txt
lab4-bmp-encrypt/encoded.bmp
lab4-bmp-encrypt/key.txt
lab4-bmp-encrypt/lab4
lab4-bmp-encrypt/submodules/bits-Chars
lab4-bmp-encrypt/submodules/bits-UInts
lab4-bmp-encrypt/submodules/bmps
lab4-bmp-encrypt/submodules/leastBit
lab4-bmp-encrypt/submodules/stringSegfaults

lab5-convertCalc/convertProb
lab5-convertCalc/safeCalcProb

lab5-convertCalc/test-modules/*
lab5-convertCalc/test-modules/!*/
lab5-convertCalc/test-modules/!*.*
lab5-convertCalc/test-modules/!sanitycheck.c

lab6-floats/floatsStuff
lab6-floats/sandbox

lab7-asm-vectors/1-prob/main
lab7-asm-vectors/2-prob/main
lab7-asm-vectors/3-prob/main
lab7-asm-vectors/4-prob/ArrayLib
lab7-asm-vectors/4-prob/check
